.btn1{
    background-color: #FF5733;
    color: white;
    border: 2px solid white;
    border-radius: 2px;
    padding: 12px
}
.btn1:hover{
    background-color: white;
    color:#FF5733;

}
.btn {
    background-color: white;
    color: #FF5733;
    border: 2px solid #FF5733;
    border-radius: 8px;
}

.btn:hover{
    background-color: #FF5733;
    color:white;
}