<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="C:\Users\Mello\OneDrive\Documentos\InfoProject\InfoProject\InfoProject\Template\css\home.css"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <title>Home</title>
</head>
<body>
    <div class="container-fluid" style="padding: 0%;">
        <div class="d-flex justify-content-end" style="background-color: #FF5733;">
            <nav class="navbar navbar-expand-lg navbar-light" id="bar" style="background-color: #FF5733;">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                      <a class="navbar-brand" href="#">Hidden brand</a>
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Contacto</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Acerca de</a>
                        </li>
                      </ul>
                      <form class="d-flex">
                        <button class="btn btn-outline-light" name="search" type="submit"><i class="bi bi-person-fill"></i></button>
                      </form>
                </div>  
            </nav>
        </div>
        <div id="FoodCaru" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="C:\Users\Mello\OneDrive\Documentos\InfoProject\InfoProject\InfoProject\Template\images\comida-rapida-casera.jpg" class="d-block w-100" alt="800x600">
                <div class="carousel-caption d-none d-md-block" id="">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
              <div class="carousel-item" data-bs-interval="10000">
                <img src="C:\Users\Mello\OneDrive\Documentos\InfoProject\InfoProject\InfoProject\Template\images\frenchfries.jpg" class="d-block w-100" alt="800x600">
                <div class="carousel-caption d-none d-md-block" id="">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                  </div>
            </div>
              <div class="carousel-item" data-bs-interval="10000">
                <img src="C:\Users\Mello\OneDrive\Documentos\InfoProject\InfoProject\InfoProject\Template\images\masa-pizza-casera (1).jpg" class="d-block w-100" alt="800x600">
                <div class="carousel-caption d-none d-md-block" id="">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                  </div>
            </div>
            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>